a {
  color: $red;
}
a:hover {
  color: $red;
  text-decoration: none;
}

body {
  color: $body-gray;
}

.highlight-red {
  color: $red;
}

.opacity-5 {
  opacity: 0.5;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.no-margin-below {
  margin-bottom: 0;
}
